body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    color: #fff;
    margin: 0;
}

#sidebar {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sidebar button {
    margin-bottom: 5px;
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sidebar button:hover {
    background-color: #00499e;
}

#chat-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.chat-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

.chat-input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #218838;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-message {
    justify-content: flex-end;
}

.bot-message {
    justify-content: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: auto;
    border-radius: 40%;
}

.message-text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.user-message .message-text {
    background-color: #048dc3;
    align-self: flex-end;
}

.bot-message .message-text {
    background-color: #eaf50f;
    align-self: flex-start;
}


